<style>
	.parent
	{
		background: url('/assets/emailbg.png') repeat-x;
		padding:30px 45px;
	}
	.child > p
	{
		color: rgb(216,144,85);
	}
	.caption > p{
		text-align:center;
	}
	p{
		color: #353333;
		padding-bottom: 10px;
	}
</style>

<div class="parent">
<div class="child">
	<p>Thank You for Signing Up</p>
</div>
<div class="content">
	<p>We are Karen and Dennis Stemmle and we are so excited to have the opportunity to share our journey with you.   </p>
 	<p>Our book is an Inspirational journey highlighting Karen’s battle with breast cancer and how it unexpectedly led to an amazing new life for us.</p>
	<p>The book is about the intersection of life and work, connecting with family, and redefining what really matters the most in life.     It’s filled with practical advice and insights on overcoming challenges, achieving your dreams, and advice for creating your own successful online business.   </p> 	
	<p>This book is for anyone who has faced a challenge, wondered what really matters, or just wished they could make a living pursuing their passions and dreams.</p>
   <p>In order to get our message out we need your help so we created a simple and easy way for you to share the news with your friends and family and for us to provide some product prizes as a way of saying thank you.</p>
</div>
<div class="caption">
	<p>Thank you for your interest and support -   <b>We greatly appreciate it!</b></p>
</div>
<div class="subs">
	<p>Insert Their custom referral URL <br>Insert Share on FB and Twitter sharing functionality</p>
</div>
<div class="signature">
	<p><i>Karen & Dennis Stemmle</i></p>
</div>
<div class="caption">
	<p>10% of our book royalties are being donated to support cancer research</p>
</div>
</div>